.widget_patched_up_pixel_calendar { text-align:center; }

.widget-title { text-align: left; }

#patched_up_pixel_calendar { 
  width: 265px;
  margin: 0 auto; 
}

.patched_up_pixel_calendar_week { 
  display:block; float:left; 
  width:4px; height:30px; 
  margin-right: 1px;
}

.patched_up_pixel_calendar_day {
  display:block; clear:both; 
  width:4px; height:4px;
  margin-bottom: 1px !important; 
  background-color: #000000;
  opacity: 0.1;
}

/*.patched_up_pixel_calendar_week:hover {*/
  /*background-color: #ffaaaa;*/
/*}*/

.patched_up_pixel_calendar_blankday {
  display:block; clear:both; 
  width:4px; height:4px;
  margin-bottom: 1px !important; 
  background-color: #fff;
  opacity: 0.1;
}

.onepost   { opacity: 0.4; }
.twoposts  { opacity: 0.7; }
.manyposts { opacity: 1.0; }
