.widget_patched_up_pixel_calendar {  box-sizing: border-box; text-align:center; }

.widget-title { text-align: left; }

#patched_up_pixel_calendar { 
  box-sizing: border-box;
  width: 265px;
  margin: 0 auto; 
}

.patched_up_pixel_calendar_week { 
  box-sizing: border-box;
  display:block; float:left; 
  width:5px; height:30px; 
}

.patched_up_pixel_calendar_week ul { margin: 0px !important; } 
  
.patched_up_pixel_calendar_day {
  box-sizing: border-box;
  display:block; clear:both; 
  width:5px; height:5px;
  margin: 0px !important; 
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  background-color: rgba(0,0,0,0.1);
}

.patched_up_pixel_calendar_blankday {
  box-sizing: border-box;
  display:block; clear:both; 
  width:5px; height:5px;
  margin-bottom: 0px !important; 
  background-color: #fff;
  opacity: 0.1;
}

.onepost     { background-color: rgba(0,0,0,0.4); }
.twoposts    { background-color: rgba(0,0,0,0.7); }
.manyposts   { background-color: rgba(0,0,0,1.0); }

/* Tooltip */

.patched_up_pixel_calendar_day.tooltip { text-align: left; }

.patched_up_pixel_calendar_day.tooltip a { 
  display: block;
  width: 100%; height: 100%;
  text-decoration: none; border: none;
}
.patched_up_pixel_calendar_day.tooltip a:hover { background-color: rgba(255,0,0,1); }

.patched_up_pixel_calendar_day.tooltip span {
  z-index: 10; display: none; 
  width: 150px;
  padding: 5px 5px 0 5px; margin: 20px 0 0 -75px ;
  font-size: 12px;
  line-height: 15px;
  color:#111;
  border: 1px solid #000; 
  background: #ffffff;
}
.patched_up_pixel_calendar_day.tooltip span p {
  margin-bottom: 5px;
}
.patched_up_pixel_calendar_day.tooltip:hover span{
  display: inline; position: absolute; 
  
}
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}
    
/*CSS3 extras*/
.patched_up_pixel_calendar_day.tooltip span
{
    border-radius:2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
        
    -moz-box-shadow: 0px 5px 8px #CCC;
    -webkit-box-shadow: 0px 5px 8px #CCC;
    box-shadow: 0px 5px 8px #CCC;
}
